.message {
  align-items: center;
  display: flex;
  letter-spacing: 0.1rem;
  margin-bottom: 0.4rem;
  padding: 0.6rem;

  p {
    font-style: normal;
    margin: 0 !important;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
  }
}
