.subscribe {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  button {
    background-color: #0013fe;
    border: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 0.5rem 5.4rem;

    &:hover {
      background-color: white;
      color: #0013fe;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    border: 1px solid #d5d5d5;
    font-size: 16px;
    margin-bottom: 0.4rem;
    padding: 0.5rem 1rem;
  }

  p {
    font-size: 14px;
    font-style: italic;
    margin-top: 0.4rem;
  }

  span {
    display: flex;

    p {
      &:last-child {
        text-decoration: underline;
        margin-left: 4px;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .subscribe {
    text-align: left;

    button {
      font-size: 16px;
      padding: 0.5rem 4rem;
    }

    span {
      flex-direction: column;

      p {
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}
